@keyframes enterFromTopLeftAndSpin {
  from {
    transform: translate(-100vw, -100vh) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translate(0, 0) rotate(360deg);
    opacity: 1;
  }
}

@keyframes enterFromTopRightAndSpin {
  from {
    transform: translate(100vw, -100vh) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translate(0, 0) rotate(360deg);
    opacity: 1;
  }
}

@keyframes enterFromBottomLeftAndSpin {
  from {
    transform: translate(-100vw, 100vh) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translate(0, 0) rotate(360deg);
    opacity: 1;
  }
}

@keyframes enterFromBottomRightAndSpin {
  from {
    transform: translate(100vw, 100vh) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translate(0, 0) rotate(360deg);
    opacity: 1;
  }
}

@keyframes moveAcrossScreen {
  0% {
    transform: translate(-100%, -100%);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh);
    opacity: 0;
  }
}

.animationContainer {
  background-color: #0d1117;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; 
  min-width: 390px;
  height: 100vh;
}

.animationContainer img {
  width: 200px;
  height: 200px;
  position: absolute;
}

.appleIcon1 {
  animation: enterFromTopLeftAndSpin 2s ease forwards;
}
.appleIcon2 {
  animation: enterFromBottomLeftAndSpin 1s ease forwards;
}

.bananaIcon1 {
  animation: enterFromTopRightAndSpin 2s ease forwards;
}
.bananaIcon2 {
  animation: enterFromBottomRightAndSpin 2s ease forwards;
}
.broccoliIcon1 {
  animation: enterFromTopRightAndSpin 1s ease forwards;
}
.broccoliIcon2 {
  animation: enterFromBottomLeftAndSpin 2s ease forwards;
}

.logo {
  width: 258px;
  height: auto;
  position: absolute; /* Jeśli chcesz by logo było względem dolnej krawędzi kontenera, powinno być 'absolute' */
  bottom: -10px; /* Zamiast podnosić logo, obniżamy je poniżej dolnej krawędzi o 10px */
  left: 50%;
  transform: translate(-50%, 10px); /* Przesunięcie logo w poziomie do środka i 10px w dół */
  animation: slideInFromBottom 1s ease forwards;
}