@keyframes enterFromTopLeftAndSpin {
  from {
    transform: translate(-100vw, -100vh) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translate(0, 0) rotate(360deg);
    opacity: 1;
  }
}

@keyframes enterFromTopRightAndSpin {
  from {
    transform: translate(100vw, -100vh) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translate(0, 0) rotate(360deg);
    opacity: 1;
  }
}

@keyframes enterFromBottomLeftAndSpin {
  from {
    transform: translate(-100vw, 100vh) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translate(0, 0) rotate(360deg);
    opacity: 1;
  }
}

@keyframes enterFromBottomRightAndSpin {
  from {
    transform: translate(100vw, 100vh) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translate(0, 0) rotate(360deg);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}


.animationContainer {
  margin: 0 auto;
  background-color: #0d1117;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  height: 100vh;
}

.animationContainer img {
  width: 200px;
  height: 200px;
  position: absolute;
  opacity: 0;
}

.logo {
  width: 258px;
  height: auto;
  position: absolute;
  bottom: 60px;
  left: 50%; /* Centrowanie loga w poziomie */
  transform: translateX(-50%); /* Przesunięcie w górę o 10px */
  opacity: 0; /* Początkowo logo jest niewidoczne */
  animation: fadeInUp 1s ease 2s forwards; /* 2s opóźnienie, 1.5s trwanie */
}

.appleIcon1 {
  animation: enterFromTopLeftAndSpin 2s ease 1s forwards;
}
.appleIcon2 {
  animation: enterFromBottomLeftAndSpin 2s ease 1s forwards;
}

.bananaIcon1 {
  animation: enterFromTopRightAndSpin 2s ease 1s forwards;
}
.bananaIcon2 {
  animation: enterFromBottomRightAndSpin 2s ease 1s forwards;
}
.broccoliIcon1 {
  animation: enterFromTopRightAndSpin 2s ease 1s forwards;
}
.broccoliIcon2 {
  animation: enterFromBottomLeftAndSpin 2s ease 1s forwards;
}

.appleIcon1, .appleIcon2, .bananaIcon1, .bananaIcon2, .broccoliIcon1, .broccoliIcon2 {
  opacity: 0;
}
