@import '../../styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  color: #333; 
}

.intro {
  margin: 5px 10px;
  text-align: start;
  width: 100%;
}

.intro p {
  margin: 5px 0; 
  font-size: 18px; 
  font-weight: 500;
  line-height: 1.4; 
}

.cameraImage {
  margin: 5px 0; 
  opacity: 0.9;
}

.button {
  background-color: #FF5757;
  color: #ffffff;
  padding: 20px 40px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #FF5757;
    transform: scale(1.05);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mobile {
  background-color: #FFE4E4; 
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; 
  padding: 20px; 
  margin-bottom: 30px;
  color: black;
  }
}