@import '../../styles/mixins';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d1117;
}

.image {
  display: flex;
  align-items: center;
  height: auto;
  padding-top: 16px;
}
