@import '../../styles/mixins';

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  // margin: 10px;
  background-color: #FFE4E4;
}

.image {
  height: auto;
  opacity: 0.9;
}

.title {
  margin: 0;
  font-size: 24px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: visible;
}