.container {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.preview {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.buttonsContainer {
    display: flex;
    gap: 24px;
}